<p>Thank you {{ firstname }} {{ surname }},</p>
<p>The following information has been received by us:</p>
<ul>
    <li>
        <b>Mobile number</b>: {{ mobile }}
    </li>
        <li>
        <b>Address</b>: {{ address }}
    </li>
    <li>
        <b>City</b>: {{ city }}
    </li>
    <li>
        <b>Postcode</b>: {{ postcode }}
    </li>
    <li>
        <b>Birthday</b>: {{ birthday }}
    </li>
    <li>
        <b>Ssn</b>: {{ ssn }}
    </li>
    <li>
        <b>Gender</b>: {{ gender }}
    </li>

        <li>
        <b>Course</b>: {{ courseName }}
    </li>
</ul>
<p>We will contact you as soon as possible.</p>
<p>Best regards, Adam og Eva</p>